<% provide :page_title, "WELCOME" %>

<div id="welcome">
  <h1>WELCOME TO <%= site_name %></h1>
  <p>Come on in and grab a seat</p>
</div>

<%= link_to "See the restaurants", restaurants_path %><br>
<%= link_to "Make a restaurant", new_restaurant_path %>
