<div class="restaurant-profile">
  <%= link_to "View Page", restaurant, class: "control" %>
  <div class="title"><%= restaurant.name %></div>
  <div class="description"><%= restaurant.description %></div>
</div>