<% provide :page_title, "Restaurants" %>

<%= render 'search_form' %>

<h1>Restaurants</h1>

<% @restaurants.each do |restaurant|%>

	<h3><%= link_to restaurant.name.capitalize, restaurant_path(restaurant.id) %> </h3>
	<p><%= restaurant.description %> </p>

	<% end %>