<%= render @restaurant %>

<div id="locations">
	<h4>Locations</h4>
	<%= link_to 'New Location', new_restaurant_location_path(@restaurant) %>
	<% @locations.each do |location| %>
		<%= render location %>
	<% end %>
</div>
