<%= render @restaurant %>

<div id="locations">
  <%= link_to 'New Location', new_restaurant_location_path(@restaurant),
      class: "control" %>

  <legend>Locations</legend>

	<% @locations.each do |location| %>
		<%= render location %>
	<% end %>
</div>
