$logo:        rgba(147, 189, 199, 1);
$white:       rgba(255, 255, 255, 1);
$shadow:      rgba(60, 60, 60, 0.5);

#locations {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 60px auto 10px;
  padding: 20px;
  min-width: 400px;
  width: 98%;
  border: 1px solid $logo + 20;
  background: $white;
  box-shadow: 0 0 6px -1px $shadow;

  legend {
    position: absolute;
    top: -30px;
    right: -1px;
    padding: 5px 20px;
    background: $logo;
    color: $white;
    font-weight: 900;
    font-size: 1.2em;
  }

  .control {
    position: relative;
    top: -10px;
    margin: 5px;
    padding: 5px;
    border: 1px solid $logo + 100;
    border-radius: 3px;
    background: $white;
    color: rgba(200, 200, 200, 1);
    text-decoration: none;
    &:hover {
      background: $logo - 50!important;
      color: rgba(255, 255, 255, 1);
    }
  }
}


.location {
  position: relative;
  display: block;
  margin-top: 10px;
  width: 280px;
  margin-right: 10px;
  .google-map {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    img { width: 100%; }

  }
  .btn {
    position: relative;
    left: -7px;
    display: inline-block;
    display: inline-block;
    margin: 5px 0px;
    padding: 5px;
    border-radius: 3px;
    color: $logo - 50;
    text-decoration: none;
    &:hover {
      background: $logo - 50!important;
      color: rgba(255, 255, 255, 1);
    }
  }
}