$logo:        rgba(147, 189, 199, 1);
$white:       rgba(255, 255, 255, 1);
$shadow:      rgba(60, 60, 60, 0.5);

.restaurant-profile {
  padding: 10px;
  position: relative;
  margin-bottom: 20px;

  .title {
    font-size: 1.2em;
    font-weight: 700;
    color: rgba(80, 80, 80, 1);
    margin-bottom: 20px;
  }
  .description {
    font-size: 0.9em;
    color: $logo - 50;
  }

  .control {
    position: relative;
    top: -10px;
    float: right;
    margin: 5px;
    padding: 5px;
    border: 1px solid $logo + 100;
    border-radius: 3px;
    background: $white;
    color: rgba(200, 200, 200, 1);
    text-decoration: none;
    &:hover {
      background: $logo - 50!important;
      color: rgba(255, 255, 255, 1);
    }
  }

  &:hover {
    background: $logo;
    opacity: 0.5;
    .title { color: rgba(60, 60, 60, 1); }
    .description { color: $logo - 100; }
  }
}