@import url("http://www.google.com/fonts#UsePlace:use/Collection:Open+Sans:400,800,700,600,300");
// VARIABLES
$logo:        rgba(147, 189, 199, 1);
$white:       rgba(255, 255, 255, 1);
$shadow:      rgba(60, 60, 60, 0.5);

// MIXINS
@mixin fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}
@mixin fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

@mixin animation($property: all, $duration: 0.5s, $function: ease-in-out) {
  -webkit-transition: $property $duration $function;
  transition: $property $duration $function;
}

@mixin btn($color) {
  @include animation;
  position: relative;
  margin: 5px;
  padding: 5px;
  border: 1px solid $color;
  border-radius: 3px;
  background: $white;
  box-shadow: 0 0 4px -2px $shadow;
  color: $color;
  text-decoration: none;
  font-size: 700;
  &:hover {
    border: 0 0 4px -2px $logo - 50;
    background: $logo - 50;
    color: $white;
  }
}

@mixin btn-inverse($color) {
  @include animation;
  @include btn($logo);
  border-color: $color - 100;
  background: $color;
  box-shadow: 0 0 4px -2px $shadow;
  color: $color + 200;
  &:hover {
    border: 0 0 4px -2px $logo - 50;
    background: $logo - 50;
    color: $white;
  }
}

.btn { @include btn($logo - 50); }
.btn-inverse { @include btn-inverse($logo); }
.btn-header {
  @include btn($logo - 50);
  padding: 10px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  &:focus {
    outline: none;
  }
}



// GENERAL HTML ELEMENTS
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body { margin-top: 100px; }
a { text-decoration: none; }

// HEADER PARTIALS
header#site-menu {
  @include fixed-top;
  padding: 0px 20px;
  height: 40px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 0 6px -2px $shadow;
  font-family: "Open Sans";

  #site-logo {
    @include animation;
    position: relative;
    top: 5px;
    margin: -1px;
    padding: 1px 5px;
    color: $logo - 50;
    font-size: 1.9em;
    &:hover {
      background: $logo - 50;
      color: $white;
    }
  }

  #menu {
    position: relative;
    float: right;
    .btn-header {
      position: relative;
      top: 10px;
    }
    .over-control {
      position: absolute;
      top: 40px;
      display: block;
      width: 50px;
      background: rgba(40, 40, 40, 0.5);
      color: rgba(255, 255, 255, 1);
      font-weight: 900;
      font-size: 10px;
    }
  }
}

// WELCOME
#welcome {
  padding: 40px;
  width: 100%;
  background: $logo + 140;
  text-align: center;
  &:hover {
    background: $logo;
  }
  h1 {
    margin: 0px;
    color: $logo - 100;
    letter-spacing: -1px;
    font-weight: 900;
    font-size: 3em;
  }
  p {
    margin: 10px 0px 10px;
    color: $logo;
    font-size: 1.2em;
  }
}

.introduction {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px;
  width: 49%;
  &:hover {
    background: $logo;
  }
  section {
    height: 100px;
    vertical-align: top;
  }
  h1 {
    color: $logo - 70;
    font-weight: 900;
    font-size: 2.5em;
    font-family: "Open Sans";
    margin-bottom: 10px;
  }
  p {
    color: rgba(80, 80, 80, 1);
  }
  .btn {
    display: inline-block;
    margin-top: 30px;
    margin-left: -5px;
  }
}

#member-introduction {
  text-align: right;
}