$logo:        rgba(147, 189, 199, 1);
$white:       rgba(255, 255, 255, 1);
$shadow:      rgba(60, 60, 60, 0.5);
$side:        200px;

.container {
  padding: 0px 10px;
}
.user-profile,
.user-reservations {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.background-wrapper {
  margin-bottom: 40px;
  display: inline-block;
  padding: 5px 5px 10px;
  width: $side;
  background: rgba(147, 189, 199, 1);
  box-shadow: 0 0 6px -2px $shadow;
  vertical-align: top;
  text-align: center;

  .user-profile {
    background: $white;
    .gravatar {
      padding: 10px 10px;
      img { width: 100%; }
    }
    .name {
      font-size: 1.5em;
      margin-bottom: 5px;
    }
    .email {
      color: rgba(100, 100, 100, 1);
      font-size: 0.9em;
      margin-bottom: 5px;
    }
    .joined {
      color: rgba(150, 150, 150, 1);
      font-size: 0.8em;
    }

    .control {
      display: inline-block;
      margin: 10px 5px 5px;
      padding: 5px;
      border: 1px solid $logo + 100;
      border-radius: 3px;
      background: $white;
      color: rgba(200, 200, 200, 1);
      text-decoration: none;
      &:hover {
        background: $logo;
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}


.user-reservations {
  display: inline-block;
  width: calc(100% - $side);
  height: 100px;
}


@media all and (max-width: 600px) {
  .background-wrapper {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    .user-profile {
      margin: 0px auto;
      width: 200px;
    }
  }
}
