<div class="location">
  <div class="address">
    <p><%= location.address %></p>
  </div>
  <div class="location-hour">
    <p><%= location.open_hours %></p>
  </div>

  <div class="location-controls">
  <% if signed_in? %>

    <%= link_to 'Make an reservation', new_location_reservation_path(location.id) %>
  <% else %>
    <p>Please <%= link_to 'Sign In', :member_signin %> to make an reservation</p>

  <% end %>
  </div>
</div>