<% provide :page_title, "#{@user.name}'s Profile".html_safe %>

<div class="container">

  <!-- Renders 'members/_member.html.erb' -->
  <%= render @user, user: @user %>

  <div id="user-reservations" class="feeds">
    <h1>Upcoming Reservation</h1>

    <% @user.reservations.each do |reservation| %>

      <!-- Render reservations/_reservations.html.erb -->
      <%= render reservation %>

    <% end %>
  </div>s

